.menu li{
	display: inline-block;
	text-decoration: none;
	border: 3px solid rgb(160, 179, 155);
	border-radius: 25px;
	border-style: outset;
	padding: 5px;
	background-color: #FFFFFF;
	color: #000000;
	margin: 5px;
	font-family: 'Spartan', sans-serif;
}
.menu ul{
	text-decoration: none;
}
.menu li a:hover{
	display: block;
	color: 	#000000;
	background-color: #9fffff;
}
.menu .is-current{
	background-color: #0000FF;
}